@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .wrapper {
        @apply w-[90%] mx-auto overflow-hidden max-w-sm;
    }

    .wrap {
        @apply w-[90%] mx-auto overflow-hidden max-w-5xl md:pt-24;
    }

    .iconos {
        @apply list-image-[url(../assets/images/icon-list.svg)];

    }

    .hover\:shadow-xl:hover {
        @apply {
            --tw-shadow: 0 20px 25px -5px rgba(232, 91, 10, 0.325), 0 8px 10px -6px rgb(0 0 0 / 0.1);
            --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        }
    }
}